<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Conéctate con nosotros en las redes sociales:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/profile.php?id=100082362460558" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/snoopy_peluqueria_canina/?hl=es" class="me-4 text-reset">
          <i class="fab fa-instagram"></i></a>
        </a>

        <a href="https://www.tiktok.com/@peluqueria.snoopy" class="me-4 text-reset">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Peluquería Canina Snoopy
            </h6>
            <p>
              Ofrecemos los mejores servicios de peluquería y cuidado para tu mascota.
            </p>
            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Servicios
            </h6>
            <p>
              <a href="#!" class="text-reset">Baño</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Corte</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Estilismo</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Terapias</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Enlaces rápidos
            </h6>
            <p>
              <a href="#!" class="text-reset">Sobre nosotros</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Galería</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contacto</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i><a href="https://maps.app.goo.gl/Fw2RBvUgM8EzLLMNA" target="_blank"
                class="text-reset">Villa Los Naranjos 5437, Peñalolén</a></p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@ejemplo.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +57 317 346 1294</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"> CIISA</a>
    </div>
    <!-- Copyright -->
  </footer>