<link rel="stylesheet" href="../../public/css/navigation.css">
<link rel="stylesheet" href="../../public/css/general.css">
</head>

<body>
  <!-- Navigation bar -->
<nav class="navbar navbar-expand-lg fs-5">
    <div class="container-fluid">
      <a class="navbar-brand fs-1 mx-4" href="/admin">
        <img id="nav-logo" src="/public/images/Snoopy-logo.png" width="150px" class="d-inline-block align-top" alt="">
        <span class="fw-bold admin-title">Administrador</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nosotros">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/vista-galeria/1">Galería de trabajos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/servicios">Servicios</a>
          </li>
        </ul>
        <div id="auth-buttons" class="d-flex">
          <a href="/admin" class="me-4 text-reset">
            <button id="btn-panel" class="btn btn-warning btn-panel me-2 fs-5 fw-bold" type="button">Panel de administrador</button>
          </a>
          
          <a href="/mi_perfil"><button class="btn btn-warning btn-panel me-2 fs-5 fw-bold" type="button">Mi Perfil</button></a>
          <div class="btn-group">
            <button id="btn-logout" class="btn btn-danger me-2 fs-5" type="button">Cerrar Sesión</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navigation bar -->