<!DOCTYPE html>
<html lang="en">
<head>
  <title>Peluquería Canina Snoopy - Contacto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- BOOTSTRAP CSS only-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- CSS PROPIO -->

   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <style>
     .navbar {
       margin: 0;
       border-radius: 0;
     }
     .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: rgba(255, 234, 117, 0.8); 
      border-radius: 15px; 
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      min-height: calc(100vh - 56px);
      justify-content: flex-start; 
    }
    .map-title {
      margin-top: 20px;
      margin-bottom: 20px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    }
    .map-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      border-radius: 15px; 
      overflow: hidden; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      width: 600px;
      height: 450px; 
    }
    .map-container iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 15px; 
    }

    .card {
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }

    .btn-shadow {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
  </style>

</head>
<body>

  <!-- Navigation bar -->
  <%- include('./partials/navigation.ejs') %>
  <!-- Navigation bar -->

  <div class="container mt-5">
    <div class="container content">
      <!-- Mapa -->
      <h1 class="map-title title">¿Dónde encontrarnos?</h1>
      <div class="map-container w-100">
        <iframe title="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26615.318936747986!2d-70.58613116523438!3d-33.50359199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d1d01153a529%3A0x13dc8aa2ac9541ec!2sPeluqueria%20Canina%20Snoopy!5e0!3m2!1ses-419!2scl!4v1718385803997!5m2!1ses-419!2scl"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <!-- Fin Mapa -->
      
      <!-- Tarjetas -->
      <div class="container text-center d-flex justify-content-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="/public/images/camioneta.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Luz Mery Guzmán, dueña y peluquera</h5>
                <p class="card-text">¡Contáctame! ¡Hablemos por WhatsApp!</p>
                <a href="https://wa.me/573173461294"><button type="button" class="btn btn-success btn-shadow">¡Escríbenos a nuestro WhatsApp!</button></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="/public/images/social-media.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Visita nuestras redes sociales</h5>
                <p class="card-text">¡Conoce nuestros trabajos!</p>
                <a href="https://www.facebook.com/profile.php?id=100082362460558" target="_blank" class="btn btn-primary btn-shadow mb-2"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="https://www.instagram.com/snoopy_peluqueria_canina/?hl=es" target="_blank" class="btn btn-danger btn-shadow mb-2"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="https://www.tiktok.com/@peluqueria.snoopy" target="_blank" class="btn btn-info btn-shadow"><i class="fab fa-tiktok"></i> TikTok</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Tarjetas -->

    </div>
  </div>

  <!-- Footer -->
  <%- include('./partials/footer.ejs') %>
  <!-- Fin Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
