.navbar {
    margin: 0;
    border-radius: 0;
  }
  .content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: rgba(255, 234, 117, 0.8); 
   border-radius: 15px; 
   padding: 20px;
   min-height: calc(100vh - 56px);
   justify-content: flex-start; 
 }
 .map-title {
   margin-top: 20px;
   margin-bottom: 20px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
 }
 .map-container {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   border-radius: 15px; 
   overflow: hidden; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
   width: 600px;
   height: 450px; 
 }
 .map-container iframe {
   width: 100%;
   height: 100%;
   border: none;
   border-radius: 15px; 
 }

 .card {
   border-radius: 10px; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
 }
 .card-img-top{
    width: 100%;
    height: 200px;
 }

 .btn-shadow {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
 }