.navbar {
    margin: 0;
    border-radius: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner>.item>img {
    min-width: 100%;
    width: 100%;
}

/* .perro-mes-container {
font-family: "Spicy Rice", serif !important;
} */

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}