@import url('../fonts/gliker/stylesheet.css');

.navbar {
    background-color: #E34689 !important;
    

    .navbar-brand{
        filter: drop-shadow(0px 0px 5px black);
        transition: all 200ms !important;

        &:hover {
            filter: drop-shadow(0px 0px 5px #FFAF17);
        }
    }
    
    a.nav-link {
        color: rgb(252, 172, 0) !important;
        text-shadow: 0px 0px 5px black;
        font-family: "Spicy Rice" !important;
        font-weight: bold !important;
        font-size: 1.3em;
        margin-left: .3em;
        transition: all 200ms !important;

        &:hover {
            background-color: transparent;
            text-shadow: 0px 0px 5px rgb(252, 172, 0);
        }
    }
}

.navbar-brand {
    font-family: 'gliker';
    font-weight: bold;
}

.admin-title {
    font-size: 0.8em !important;
}

#btn-logout{
    border-radius: 10px !important;
    background-color: rgb(146, 0, 0) !important;
    color: white !important;

    &:hover {
        background-color: rgb(206, 0, 0) !important;
    }

    &:active {
        box-shadow: 0px 0px 5px black inset;
    }
}

.btn-panel{
    border-radius: 10px !important;
    background-color: rgb(255, 196, 0) !important;
    color: rgb(0, 0, 0) !important;

    &:hover {
        background-color: rgb(252, 221, 122) !important;
    }

    &:active {
        box-shadow: 0px 0px 5px black inset;
    }
}

#auth-buttons{
    flex-direction: row !important; 
    gap: 5px !important;

    a, button {
        font-size: .9em !important;
        height: 2.5em !important;
    }

}

@media (max-width: 1380px){

    #auth-buttons{
        a, button {
            font-size: .9em !important;
            height: 5em !important;
        }

        .hide {
            display: none;
        }
    }
}


@media (max-width: 768px){

    #auth-buttons{
        flex-direction: column !important;
        gap: 10px;

        button, a {
            font-size: .9em !important;
            height: 2.5em !important;
        }

        a, .btn-group{
            width: 90% !important;

            button{
                width: 100% !important;
            }

            #btn-logout{
                border-radius: 7px !important;
                width: 100% !important;
                margin-right: 0rem !important;
            }
        }

    }

}
