

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
    background-image: url('../images/patron_patitas\ 70x70.png');
  }
 
  #img_carousel {
    height: 600px;
}

.btn-outline-primary {
  color: #3d1a38; /* Cambia el color del texto */
  border-color: #d10fa1; /* Cambia el color del borde */
}

.btn-outline-primary:hover {
  background-color: #d82a64; 
  color: #583047; 
}

img-comparison-slider {
  outline: none;
}

input {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  /* White with 80% opacity */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}